body {
    background-color: rgb(29, 24, 24);
    color: darkgoldenrod;
}

h1 {
    background-color: black;
    position: relative;
    top: 70px;
    border-bottom: white;

}

.image-section { 
   display: flex;
   height: 310px;
   position: absolute;
   right: 10px;
    background-color: red;
    padding: 50px;
    border-radius: 40px;
   
}

.image-section2 {
    display: flex;
   position: absolute;
   top: 1600px;
  height: 320px;
  background-color: rgb(43, 36, 88);
  padding: 50px;
  border-radius: 40px;
  
   

} 

.text-section {
    font-size: 30px;
    display: flex;
    position: relative;
    top: 220px;
    background-color: black;
    border-radius: 50px;
    padding: 40px;
    text-align: center ;
    position: absolute;
    top: 50%;
    width: 700px;
}

.text-section2 {
    font-size: 30px;
    display: flex;
    position: relative;
    top: 1100px;
    background-color: black;
    border-radius: 50px;
    padding: 40px;

}


   

    
